{% extends 'base.html' %}

{% block content %}
{% load market_tags %}
<body>
<div class="container">
    <div class="row pt-5">
        <div class="col-md-12">
            <h3 class="float-left text text-secondary">購入詳細</h3>
            <div class="float-right text text-primary">{{ msg }}</div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-10 offset-md-1">
            <div class="">
                <p>決済方法：{{ purchase_details.0.purchase_code.payment_code.payment_method }}</p>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">豆名</th>
                        <th scope="col">購入数量</th>
                        <th scope="col">単価</th>
                    </tr>
                </thead>
                <tbody>
                    {% for purchase_detail in purchase_details %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <th scope="row">{{ purchase_detail.beans_code.beans_name }}</th>
                        <td scope="row">{{ purchase_detail.volume }}</td>
                        <td scope="row">{{ purchase_detail.selling_price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
{% endblock %}
</html>