{% extends 'base.html' %}

{% block content %}

<h1 class="text-center my-4">コーヒーマーケット</h1>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 ml-3">
            <h3>お好きな商品を選択してください。</h3>
        </div>
        {% for coffee_bean in coffee_beans %}
        <div class="card">
            <div class="card-header">
                {{ coffee_bean.beans_name }}
            </div>
            <div class="card-body">
                {{ coffee_bean.beans}}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}