{% extends 'base.html' %}
{% block content %}
<article>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="card-deck">
                    <div class="card border-0 p-0">
                        <a href="{% url 'accounts:userInfo' %}" class="text-secondary card-body btn btn-outline-success">
                            会員情報変更<br>
                            <small class="text-muted">・会員情報の閲覧、変更できます。</small>
                        </a>
                    </div>
                    <div class="card border-0 p-0">
                        <a href="#" class="text-secondary card-body btn btn-outline-success">
                            購入履歴一覧<br>
                            <small class="text-muted">・購入履歴を閲覧できます。</small>
                        </a>
                    </div>
                    <div class="card border-0 p-0">
                        <a href="#" class="text-secondary card-body btn btn-outline-success">
                            退会<br>
                            <small class="text-muted">・退会します。</small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
{% endblock %}
